#dataInput {
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
}

#chartConfigInput {
   width: 300px;
   height: 300px;
   top: 0;
   left: 0;
   margin-right: 10px;
}

.main-display {
    display: flex;
    justify-content: space-between;
}
