#dataInput {
    width: 400px;
    height: 300px;
    top: 0;
    left: 0;
}

.display-container {
    padding: 0 1rem 0 1rem;
}

#chartConfigInput {
   width: 300px;
   height: 300px;
   top: 0;
   left: 0;
   margin: 0 1em 0 1em;
}

.main-display {
    display: flex;
    justify-content: space-between;
}
.data-display {
    width: 400px;
}

.select-box-container {
    border: 2px solid lightskyblue;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    display: flex;
    margin: 5px 0 5px 0;

    &:hover {
        border: 2px solid #44BBFF;
    }
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1em;
    margin: 0 1em 0 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 130px;
    height: 50px;
    flex-grow: 1;
}


.button__update {
    width: 65%;
    background-color: #39c2c9;
}
.button__reset {
    width: 30%;
    background-color: salmon;
}
.button-panel {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}
.select-box {
    background: transparent;
    border: none;
    box-shadow: none;
    width:100%;
    color: #555;
    font-size: 15px;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.notification__error {
    margin: 0 -9999rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,0,0,0.5);
    border-bottom: red solid 3px;
    height: 40px;
    font-size: 15px;

    &:hover .notification--stack-trace {
        display: block;
        position: absolute;
        background: white;
        z-index: 10;
        left: 0;
    }
}

.notification--stack-trace {
    display: none;
}
