/* Code */
pre {
    font-family: 'Anonymous Pro', Consolas, Monaco, "Courier New", monospace !important;
    background-color: #F7FAFC !important;
    color: black;
}
.sunlight-code-container {
    font-family: 'Anonymous Pro', Consolas, Monaco, "Courier New", monospace !important;
    background-color: #F7FAFC !important;
    border: 1px solid #eff2f5 !important;
    padding: 12px;
}
.sunlight-menu {
    display: none;
}
.sunlight-menu a:after {
    background-color: transparent;
}


/* TOC Sidebar */
#toc {
    position: fixed;
    top: 76px;
    right: 10px;
    max-height: 82%;
    max-height: calc(100% - 72px);
    overflow: auto;
    padding: 5px;
}


/* Copyright */
.copyright {
    font-size: 80%;
    text-align: center;
    width: 100%;
    display: block;
}
.jsdoc-message {
    display: none;
}


/* Demos */
.tutorial-section__heading {
    display: none;
}
.sidebar {
    margin-top: 50px;
}

/* Charts */
.card--chart {
    overflow: hidden;
    border-width: 1px;
    margin-bottom: 20px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}



/* To Order */

#main {
    padding-top: 80px;
}

.readme-section h1 { display: none; }
