/* Navigation */
.navbar-brand {
    padding: 14px 15px;
}
.navbar-brand img {
    height: 26px;
}
.no-gutter {
    padding: 0;
}

/* Search */
.navbar-form {
    text-align: center;
}
.search-container {
    margin: 0 auto;
}
.search-container .input-group-btn {
    float: left
}
.navbar-form .input-group > .form-control {
    width: auto;
}

/* Layout */
.sidebar {
    margin-top: 50px;
}
#main {
    padding-top: 80px;
}
/* TOC Sidebar */
#toc {
    position: fixed;
    top: 76px;
    right: 10px;
    max-height: 82%;
    max-height: calc(100% - 72px);
    overflow: auto;
    padding: 5px;
}

/* Footer */
.footer {
    bottom: 0;
    position: sticky;
    background-color: white;
    padding: 10px;
}

@media print {
    .footer {
        position: fixed;
    }
}

/* Copyright */
.copyright {
    font-size: 80%;
    text-align: center;
    width: 100%;
    display: block;
}
.jsdoc-message {
    display: none;
}


/* Demos */
.tutorial-section__heading {
    display: none;
}

.readme-section h1 {
    display: none;
}
.readme-section img {
    max-width: 100%;
}

/* Charts */
.card--chart {
    overflow: hidden;
    border-width: 1px;
    margin-bottom: 20px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

.is-hidden {
    display: none;
}

/* Chart styles */
#brush .date-range {
    color: #ADB0B6;
    font-size: 18px;
    margin-bottom: 40px;
}
#brush .is-hidden {
    display: none;
}

.legend-chart-container {
    text-align: center;
}


/* Bar Chart */
.bar-chart-tooltip-container {
    min-height: 300px;
}

/* Line Chart */
.line-chart-container {
    min-height: 130px;
}
