@import "../helpers/_variables.scss";

$bar-color: desaturate($bc-green, 20%);
$bar-color-hover: $bc-e-green-600;
$bar-stroke-width: 0;

.bar-chart {
    // Bars
    .bar {
        shape-rendering: crispEdges;
    }

    .y-axis-group {
        .tick {
            text {
                font-size: 14px;
            }
        }
    }

    // Axes
    .axis {
        path {
            display: none;
        }
    }
    .tick {
        line {
            display: none;
        }
    }

    .adjust-upwards {
        transform: translate(0, -10px);
    }

    .percentage-label {
        fill: $grey-600;
    }
}
