@import "../helpers/_variables.scss";

$bar-color: desaturate($bc-green, 20%);
$bar-color-hover: $bc-e-green-600;
$bar-stroke-width: 0;

.bar-chart {
    // Bars
    .bar {
        fill: $bar-color;
        stroke-width: $bar-stroke-width;
        shape-rendering: crispEdges;
    }
    .bar:hover {
        fill: $bar-color-hover;
    }

    // Axes
    .axis {
        path {
            display: none;
        }
    }
    .tick {
        line {
            display: none;
        }
    }
}
