

.bar-chart {
    // Bars
    .bar {
        fill: #8FDAD8;
        stroke-width: 0;
        shape-rendering:    crispEdges;
    }
    .bar:hover {
        fill: #39C2C9;
    }

    // Axes
    .axis {
        path {
            display: none;
        }
    }
    .tick {
        line {
            display: none;
            fill: none;
            stroke: rgba(0, 0, 0, 0.45);
            stroke-width: 1;
            shape-rendering: crispEdges;
        }
        text {
            font-size: 0.8em;
            fill: rgba(0, 0, 0, 0.45);
            text-anchor: middle;

            padding: 10px;
        }
    }

    // Grid
    .horizontal-grid-line {
        fill: none;
        shape-rendering: crispEdges;
        stroke: #EBEBEB;
        stroke-width: 1;
    }
    .extended-x-line {
        fill: none;
        shape-rendering: crispEdges;
        stroke: #ECECEC;
        stroke-width: 1;
    }

    // Tooltip (TODO)
    .tooltip-background {
        fill: #FFFFFF;
        stroke: #D9D9D9;
        stroke-width: 1;
    }
}
