@import "../helpers/_variables.scss";

.brush-chart {

    .brush-area {
        // fill: url('#brush-area-gradient');
        fill: $grey-200;
    }

    rect.brush-rect.selection {
        // stroke: $bc-e-blue-300;
        // stroke-width: 1;
        fill-opacity: 0.08;
        // fill-opacity: 1;
        fill: url('#brush-area-gradient');
        stroke-linejoin: round;
        // mix-blend-mode: color-burn;
    }

    rect.brush-rect.handle {
        fill: $bc-e-blue-300;
        // width: 0.13rem;
        width: 0.2rem;
    }

    // Axes
    .axis {
        path {
            display: none;
        }
    }
}
