@import "../helpers/_variables.scss";

.brush-chart {

    .brush-area {
        fill: $grey-200;
    }

    rect.brush-rect.selection {
        fill-opacity: 0.08;
        stroke-linejoin: round;
    }

    rect.brush-rect.handle {
        fill: $bc-e-blue-300;
        width: 0.2rem;
    }

    // Axes
    .axis {
        path {
            display: none;
        }
    }
}
