@import "../helpers/_variables.scss";

.brush-chart {

    .brush-area {
        fill: url('#brush-area-gradient');

        &:hover {
            opacity: 0.8;
        }
    }

    .extent.brush-rect {
        fill: #EFF2F5;
        opacity: 0.4;
    }

    // Axes
    .axis {
        path {
            display: none;
        }
    }
}
