@import "../helpers/_variables.scss";

$line-width: 2;
$text-size: 0.75rem;

.line-chart {

    // Class for data point markers
    .data-point-mark {
        fill: $white;
    }

    // Lines
    .topic .line {
        stroke-width: $line-width;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    // Axes
    .x.axis path,
    .y.axis path {
        display: none;
    }
    .month-axis path {
        display: none;
    }

    .custom-line {
        shape-rendering: crispEdges;
        stroke-width: 1;
    }

    .custom-line-annotation {
        font-size: $text-size;
        line-height: $text-size;
        fill: $grey-600;
    }

    // This is the div that we use to simulate a line drawing animation
    // NOTE: it should be of the same color of the background of the chart
    .masking-rectangle {
        fill: $white;
    }
}
