@import "../helpers/_variables.scss";

$line-width: 2;

.line-chart {

    // Class for data point markers
    .data-point-mark {
        fill: $white;
    }

    // Lines
    .topic .line {
        fill: none;
        stroke-width: $line-width;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    // Axes
    .x.axis path,
    .y.axis path {
        display: none;
    }
    .month-axis path {
        display: none;
    }

    // This is the div that we use to simulate a line drawing animation
    // NOTE: it should be of the same color of the background of the chart
    .masking-rectangle {
        fill: $white;
    }
}
