
.scatter-plot {
    .y-axis-group {
        .axis {
            path {
                display: none;
            }
        }

        .tick {
            text {
                font-size: 14px;
            }
        }

        line: {
            display: none;
        }
    }
}
