@import '../helpers/_variables';

$outline-stroke-width: 1.2;

.scatter-plot {
    // Axes
    .y-axis-group {
        line {
            display: none;
        }

        path {
            display: none;
        }
    }

    .x.axis path {
        display: none;
    }

    .data-point-highlighter {
        stroke-width: $outline-stroke-width;
    }
}
