@import "../helpers/_variables.scss";

$line-width: 1;
$dot-size: 0;

.sparkline {
    stroke: $grey-500;
    stroke-width: $line-width;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;

    .line {
        stroke-width: 2;
    }

    .sparkline-circle {
        fill: $brand-color-red;
        stroke-width: $dot-size;
        display: none;
    }

    .sparkline-area {
        stroke: none;
    }
}
