$line-width: 1;
$dot-size: 0;

.sparkline {
    stroke: $grey-500;
    stroke-width: $line-width;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;

    .sparkline-circle {
        fill: $brand-color-red;
        stroke-width: $dot-size;
    }
}
