@import '../helpers/_variables';

$outline-stroke-width: 1.2;

.stacked-area {

    // Data points
    .dot {
        display: none;
    }

    // Axes
    .y-axis-group path {
        display: none;
    }

    .x-axis-group path {
        display: none;
    }

    .area-outline {
        fill: none;
        shape-rendering: geometricPrecision;
        stroke-width: $outline-stroke-width;
    }

    .data-point-highlighter {
        stroke-width: $outline-stroke-width;
    }

    .empty-data-line {
        stroke-linecap: round;
        stroke-width: 2px;
    }
}
