@import "../helpers/_variables.scss";

.stacked-area {

    // Data points
    .dot {
        display: none;
    }

    // Axes
    .y-axis-group path {
        display: none;
    }
    .x-axis-group path {
        display: none;
    }
}
