@import "../helpers/_variables.scss";

$step-color: #8FDAD8;
$step-color-hover: #39C2C9;

.step-chart {

    // Steps
    .step {
        fill: $step-color;
        stroke-width: 0;
        shape-rendering: crispEdges;

        &:hover {
            fill: $step-color-hover;
        }
    }

    // Axes
    .axis path {
        display: none;
    }
    .tick {
        line {
            display: none;
        }
    }
}
