@import "../helpers/_variables";

.stacked-bar {
    // Axes
    .x-axis-group path,
    .y-axis-group path {
        display: none;
    }

    .y-axis-group {
        text {
            font-size: 14px;
        }
    }

    .tick line {
        display: none;
    }
}
