:root {
    --color-white: #fff;
    --color-light-gray: #ccc;
    --color-dark-gray: #555;
    --color-red: #ff766c;
    --color-dark-red: #be2e29;
    --color-green: #6aedc7;
    --color-dark-green: #479980;
    --color-blue: #39c2c9;
    --color-light-blue: #94f7f4;
    --color-dark-blue: #1a5957;
}

* {
    box-sizing: content-box;
}

html,
body {
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    margin: 0;
}

.sandbox__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.sandbox__container::before,
.sandbox__container::after {
    content: ' ';
    display: table;
}

.sandbox__container::after {
    clear: both;
}

@media (min-width: 768px) {
    .sandbox__container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .sandbox__container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .sandbox__container {
        width: 1170px;
    }
}

.sandbox__header {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    .sandbox__button {
        flex-grow: initial;
    }
}

.sandbox__body {
    display: block;

    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }
}

.sandbox__panel {
    border: 1px solid var(--color-light-gray);
    border-radius: 5px;
    margin: 2em 1em 0 0;
    padding: 1.5rem;

    &.sandbox__panel--chart {
        @media (min-width: 992px) {
            width: 50%;
        }
    }

    &.sandbox__panel--config {
        @media (min-width: 992px) {
            width: 50%;
        }
    }
}

.sandbox__data-input {
    height: 300px;
    margin: 1em 1em 0 0;
}

.sandbox__config-input {
    height: 300px;
    margin: 1em 1em 0 0;
}

// Buttons
.sandbox__button-panel {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0;
}

.sandbox__button {
    background-color: var(--color-green);
    border: 0;
    border-radius: 5px;
    color: var(--color-dark-gray);
    display: inline-block;
    flex-grow: 1;
    font-size: 1em;
    font-weight: 600;
    margin: 0 1em 0 0;
    padding: 1em 2em;
    text-align: center;

    &:hover {
        background-color: var(--color-dark-green);
        color: var(--color-white);
        cursor: pointer;
    }

    &.sandbox__button--update {
        background-color: var(--color-light-blue);

        &:hover {
            background-color: var(--color-blue);
            color: var(--color-white);
        }
    }

    &.sandbox__button--reset {
        background-color: var(--color-red);
        color: var(--color-white);

        &:hover {
            background-color: var(--color-dark-red);
        }
    }
}

// Select Box
.sandbox__select-box-container {
    border: 2px solid var(--color-blue);
    border-radius: 5px;
    display: flex;
    height: 30px;
    margin: 1em 1em 0 0;
    width: 300px;

    &:hover {
        border: 2px solid var(--color-blue);
    }
}

.select-box {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: var(--color-dark-gray);
    font-size: 15px;
    width: 100%;
}

.notification__error {
    align-items: center;
    background: var(--color-red);
    border-bottom: var(--color-red) solid 3px;
    display: flex;
    font-size: 15px;
    height: 40px;
    justify-content: center;
    margin: 0 -9999rem;

    &:hover .notification--stack-trace {
        background: var(--color-white);
        display: block;
        left: 0;
        position: absolute;
        z-index: 10;
    }
}

.notification--stack-trace {
    display: none;
}
