@font-face {
  font-family: 'Karla', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Karla") format("opentype");
  font-weight: 300; }

.britechart {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased; }

.line-load-state .chart-filter,
.donut-load-state .chart-filter,
.bar-load-state .chart-filter {
  animation: swipe 1.5s linear infinite forwards; }

@keyframes swipe {
  from {
    transform: translateX(-66.66%); }
  to {
    transform: translateX(0); } }

.vertical-grid-line,
.horizontal-grid-line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #EFF2F5;
  stroke-width: 1;
  stroke-dasharray: 4, 4; }

.extended-y-line,
.extended-x-line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #D2D6DF;
  stroke-width: 1; }

.tick line {
  fill: none;
  stroke: #ADB0B6;
  stroke-width: 1;
  shape-rendering: crispEdges; }

.tick text {
  font-size: 1rem;
  fill: #666A73;
  padding: 12px; }

.y-axis-label,
.x-axis-label {
  font-size: 1rem;
  fill: #ADB0B6; }

.vertical-marker-container .vertical-marker {
  stroke: #D2D6DF;
  stroke-width: 1;
  fill: none; }

.vertical-marker-container .data-point-highlighter {
  fill: #ffffff;
  stroke-width: 2; }

.tooltip-background {
  fill: rgba(255, 255, 255, 0.97);
  stroke: #D2D6DF;
  stroke-width: 1;
  border-radius: 2px; }

.britechart-legend .legend-entry.is-faded .legend-entry-name,
.britechart-legend .legend-entry.is-faded .legend-entry-value,
.britechart-legend .legend-entry.is-faded .legend-circle {
  opacity: 0.97;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out; }

.britechart-legend .legend-entry.is-faded .legend-entry-name,
.britechart-legend .legend-entry.is-faded .legend-entry-value,
.britechart-legend .legend-entry.is-faded .legend-circle {
  opacity: 0.2; }

.bar-chart .bar {
  shape-rendering: crispEdges; }

.bar-chart .y-axis-group .tick text {
  font-size: 14px; }

.bar-chart .axis path {
  display: none; }

.bar-chart .tick line {
  display: none; }

.bar-chart .adjust-upwards {
  transform: translate(0, -10px); }

.bar-chart .percentage-label {
  fill: #666A73; }

.line-chart .topic .line {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.line-chart .x.axis path,
.line-chart .y.axis path {
  display: none; }

.line-chart .month-axis path {
  display: none; }

.line-chart .masking-rectangle {
  fill: #ffffff; }

.sparkline {
  stroke: #ADB0B6;
  stroke-width: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round; }
  .sparkline .line {
    stroke-width: 4; }
  .sparkline .sparkline-circle {
    fill: #ff584c;
    stroke-width: 0;
    display: none; }
  .sparkline .sparkline-area {
    stroke: none; }

.stacked-area .dot {
  display: none; }

.stacked-area .y-axis-group path {
  display: none; }

.stacked-area .x-axis-group path {
  display: none; }

.stacked-area .area-outline {
  shape-rendering: geometricPrecision;
  fill: none;
  stroke-width: 1.2; }

.stacked-area .data-point-highlighter {
  stroke-width: 1.2; }

.stacked-area .empty-data-line {
  stroke-width: 2px;
  stroke-linecap: round; }

.stacked-bar .x-axis-group path,
.stacked-bar .y-axis-group path {
  display: none; }

.stacked-bar .y-axis-group .tick text {
  font-size: 14px; }

.stacked-bar .tick line,
.stacked-bar .tick line {
  display: none; }

.grouped-bar .x-axis-group path,
.grouped-bar .y-axis-group path {
  display: none; }

.grouped-bar .y-axis-group .tick text {
  font-size: 14px; }

.grouped-bar .tick line,
.grouped-bar .tick line {
  display: none; }

.step-chart .step {
  fill: #8FDAD8;
  stroke-width: 0;
  shape-rendering: crispEdges; }
  .step-chart .step:hover {
    fill: #39C2C9; }

.step-chart .axis path {
  display: none; }

.step-chart .tick line {
  display: none; }

.brush-chart .brush-area {
  fill: #EFF2F5; }

.brush-chart rect.brush-rect.selection {
  fill-opacity: 0.08;
  stroke-linejoin: round; }

.brush-chart rect.brush-rect.handle {
  fill: #00d8d2;
  width: 0.2rem; }

.brush-chart .axis path {
  display: none; }
