.grid-line,
.vertical-grid-line,
.horizontal-grid-line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $grey-200;
    stroke-dasharray: 4, 4;
    stroke-width: 1;
}

.horizontal-grid-line--highlighted {
    stroke: $grey-700;
    stroke-dasharray: 2, 2;
}

.extended-y-line,
.extended-x-line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $grey-500;
    stroke-width: 1;
}
