$text-padding: 10px;
$text-size: 0.8em;
$tick-size: 1;

.tick {
    line {
        fill: none;
        stroke: $grey-500;
        stroke-width: $tick-size;
        shape-rendering: crispEdges;
    }
    text {
        font-size: $text-size;
        fill: $grey-500;
        text-anchor: middle;

        padding: $text-padding;
    }
}
