$text-padding: 10px;
$text-size: 1.2em;
$tick-size: 1;

.tick {
    line {
        fill: none;
        stroke: $grey-400;
        stroke-width: $tick-size;
        shape-rendering: crispEdges;
    }
    text {
        font-size: $text-size;
        fill: $grey-500;
        text-anchor: middle;

        padding: $text-padding;
    }
}
.y-axis-label,
.x-axis-label {
    font-size: $text-size;
    fill: $grey-500;
}
