$marker-width: 1;
$tooltip-width: 1;

// Tooltip Container
.vertical-marker-container {
    .vertical-marker {
        stroke: $grey-300;
        stroke-width: $marker-width;
        fill: none;
    }
    .data-point-highlighter {
        fill: $white;
        stroke-width: 2;
    }
}

// Tooltip
.tooltip-background {
    fill: rgba($white, 0.97);
    stroke: $grey-300;
    stroke-width: $tooltip-width;
    border-radius: 2px;
}
