@import "../helpers/variables";

$marker-stroke-width: 1;
$marker-stroke-width-highlight: 2;

$tooltip-stroke-width: 1;
$tooltip-border-radius: 2px;
$tooltip-value-text-size: 27px;

// Tooltip Container
.britechart-tooltip {
    font-size: $text-size-medium;
}

// Vertical Marker Container
.vertical-marker-container {
    .vertical-marker {
        stroke: $grey-300;
        stroke-width: $marker-stroke-width;
        fill: none;
    }

    .data-point-highlighter {
        fill: $white;
        stroke-width: $marker-stroke-width-highlight;
    }
}

// Tooltip
// TODO: Currently unused. Consider removing in refactoring for #113.
.tooltip-background {
    fill: rgba($white, 0.97);
    stroke: $grey-300;
    stroke-width: $tooltip-stroke-width;
    border-radius: $tooltip-border-radius;
}
