// Text Sizes
//
$text-size-base: 10px;
$text-size-small: $text-size-base;
$text-size-medium: $text-size-base * 1.2;
$text-size-large: $text-size-base * 1.6;

// Basic Colors
//
$white: #fff;

// Grey
$grey-100: #f8f8fa;
$grey-200: #eff2f5;
$grey-300: #d2d6df;
$grey-400: #c3c6cf;
$grey-500: #adb0b6;
$grey-600: #666a73;
$grey-700: #45494e;
$grey-800: #363a43;
$grey-900: #282c35;

// Extended Palette (britecharts-extended-)
// Orange
$bc-e-orange-100: #f9e9c5;
$bc-e-orange-200: #fcc870;
$bc-e-orange-300: #ffa71a;
$bc-e-orange-400: #fb8825;
$bc-e-orange-500: #f6682f;
$bc-e-orange-600: #db5a2c;
$bc-e-orange-700: #bf4c28;
$bc-e-orange-800: #a43b1c;
$bc-e-orange-900: #892a10;

// Blue
$bc-e-blue-100: #ccf7f6;
$bc-e-blue-200: #70e4e0;
$bc-e-blue-300: #00d8d2;
$bc-e-blue-400: #00acaf;
$bc-e-blue-500: #007f8c;
$bc-e-blue-600: #005e66;
$bc-e-blue-700: #003c3f;
$bc-e-blue-800: #002d2f;
$bc-e-blue-900: #0d2223;

// Light blue
$bc-e-light-blue-100: #ccfffe;
$bc-e-light-blue-200: #94f7f4;
$bc-e-light-blue-300: #00fff8;
$bc-e-light-blue-400: #1de1e1;
$bc-e-light-blue-500: #39c2c9;
$bc-e-light-blue-600: #2e9a9d;
$bc-e-light-blue-700: #227270;
$bc-e-light-blue-800: #1a5957;
$bc-e-light-blue-900: #133f3e;

// Green
$bc-e-green-100: #edfff7;
$bc-e-green-200: #d7ffef;
$bc-e-green-300: #c0ffe7;
$bc-e-green-400: #95f5d7;
$bc-e-green-500: #6aedc7;
$bc-e-green-600: #59c3a3;
$bc-e-green-700: #479980;
$bc-e-green-800: #34816a;
$bc-e-green-900: #206953;

// Yellow
$bc-e-yellow-100: #f9f2b3;
$bc-e-yellow-200: #fbe986;
$bc-e-yellow-300: #fce05a;
$bc-e-yellow-400: #fed72d;
$bc-e-yellow-500: #ffce00;
$bc-e-yellow-600: #fcc11c;
$bc-e-yellow-700: #f9b438;
$bc-e-yellow-800: #eda629;
$bc-e-yellow-900: #e09819;

// Pink
$bc-e-pink-100: #fdd1ea;
$bc-e-pink-200: #fb9cd2;
$bc-e-pink-300: #f866b9;
$bc-e-pink-400: #fc40b6;
$bc-e-pink-500: #ff1ab3;
$bc-e-pink-600: #e3239d;
$bc-e-pink-700: #c62c86;
$bc-e-pink-800: #a62073;
$bc-e-pink-900: #85135f;

// Purple
$bc-e-purple-100: #ddd6fc;
$bc-e-purple-200: #bbb1f0;
$bc-e-purple-300: #998ce3;
$bc-e-purple-400: #8e6bc1;
$bc-e-purple-500: #824a9e;
$bc-e-purple-600: #77337f;
$bc-e-purple-700: #6b1c60;
$bc-e-purple-800: #591650;
$bc-e-purple-900: #470f3f;

// Red
$bc-e-red-100: #ffd8d4;
$bc-e-red-200: #ffb5b0;
$bc-e-red-300: #ff938c;
$bc-e-red-400: #ff766c;
$bc-e-red-500: #ff584c;
$bc-e-red-600: #f04b42;
$bc-e-red-700: #d33732;
$bc-e-red-800: #be2e29;
$bc-e-red-900: #9c1e19;

// Main chart color palette
$bc-green: $bc-e-green-500;
$bc-blue: $bc-e-light-blue-500;
$bc-orange: $bc-e-orange-300;
$bc-yellow: $bc-e-yellow-500;
$bc-pink: $bc-e-pink-300;
$bc-purple: $bc-e-purple-300;

// UI palette
$brand-color-red: $bc-e-red-500;
