/* Navigation */
.navbar-brand {
    padding: 13px 15px 14px;
}
.navbar-brand img {
    height: 26px;
}
.no-gutter {
    padding: 0;
}

/* Search */
.navbar-form {
    text-align: center;
}
.search-container {
    margin: 0 auto;
}
.search-container .input-group-btn {
    float: left
}
.navbar-form .input-group > .form-control {
    width: 130px;

    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 12px 0 0 12px;
}
@media (min-width: 992px) {
    .navbar-form {
        margin-top: 13px;
    }
}
.navbar-form .input-group-btn .btn {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 0 12px 12px 0;
}

/* Layout */
.sidebar {
    margin-top: 50px;
}
#main {
    padding-top: 80px;
}
@media (min-width: 767px) and (max-width: 976px) {
    #main {
        padding-top: 124px;
    }
}

/* Footer */
.footer {
    bottom: 0;
    background-color: white;
    padding: 10px;
}

@media print {
    .footer {
        position: fixed;
    }
}

/* Copyright */
.copyright {
    font-size: 80%;
    text-align: center;
    width: 100%;
    display: block;
}
.jsdoc-message {
    display: none;
}


/* Demos */
.tutorial-section__heading {
    display: none;
}

.readme-section h1 {
    display: none;
}
.readme-section img {
    max-width: 100%;
}

/* Charts */
.card--chart {
    overflow: hidden;
    border-width: 1px;
    margin-bottom: 20px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    min-height: 22vw;

}
@media (min-width: 1400px) {
    .card--chart {
        min-height: 16vw;
    }
}

.is-hidden {
    display: none;
}

/* Chart styles */
#brush .date-range {
    color: #ADB0B6;
    font-size: 18px;
    margin-bottom: 40px;
}
#brush .is-hidden {
    display: none;
}

.legend-chart-container {
    text-align: center;
}


/* Bar Chart */
.bar-chart-tooltip-container {
    min-height: 300px;
}

/* Line Chart */
.line-chart-container {
    min-height: 130px;
}


/* Readme Demo Table */
.readme-section table thead {
    border-style: none;
}
.readme-section table a {
    display: block;
}
.readme-section table img {
    vertical-align: middle;
}
.readme-section table td {
    text-align: center;
}


/* TOC Sidebar */
#toc {
    top: 76px;
    max-height: 82%;
    max-height: calc(100% - 72px);
    overflow: auto;
}
.list-group-item {
    border: none;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: transparent;
    color: #39c2c9;
}
a.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:hover,
button.list-group-item:focus {
    background-color: transparent;
    color: #ffa71a;
}