@import "../helpers/variables";

.britechart {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $text-size-base;
    -webkit-font-smoothing: antialiased;
}

.select-disable {
    user-select: none;
}
