@use "../helpers/variables" as vars;

.britechart {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: vars.$text-size-base;
    -webkit-font-smoothing: antialiased;
}

.select-disable {
    user-select: none;
}
