@font-face {
    font-family: 'Karla', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Karla") format("opentype");
    font-weight: 300;
}

.britechart {
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
}
